<!DOCTYPE HTML>
<html>
<head>
    <title>{{ title|default('Lok Ma Chau Spur Line') }} - Hong Kong Control Point</title> <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/second-pages.css') }}" /> 
    <noscript><link rel="stylesheet" href="{{ url_for('static', filename='assets/css/noscript.css') }}" /></noscript>

</head>
<body class="is-preload">
    <div id="wrapper">

        <header id="header">
            <div class="inner">
                <a href="{{ url_for('home') }}" class="logo"> <span class="symbol">⬅</span><span class="title"> Back Home</span>
                </a>
                </div>
        </header>

        <div id="main">
            <div class="inner">
                
                <h1>Lok Ma Chau Spur Line</h1>
                <span class="image main">
                    <img src="{{ url_for('static', filename='images/pic13.jpg') }}" alt="Lok Ma Chau Spur Line" />
                </span>

                <div class="info-card">
                    <div class="details">
                        <p>
							<span class="icon">📍</span> 
							<strong>Location:</strong> 
							<span class="address-text">Lok Ma Chau Spur Line Control Point, New Territories</span>
						</p>
                        <p>
							<span class="icon">🕒</span> 
							<strong>Opening Hours:</strong>  
							<span class="address-text">6:30 am to 10:30 pm</span>
						</p>
                        <p>
							<span class="icon">📞</span> 
							<strong>Telephone:</strong>  
							<span class="address-text">2486 0301 or 2486 0313</span>
						</p>
                    </div>

                    <div class="waiting-times">
                        <h2>Waiting Time</h2>

                        <div class="wait-group">
                            <h3>For Residents</h3>
                            <ul>
                                <li><strong>Arrival:</strong>&nbsp; {{ resident_data['LSC']['arrQueue'] }}</li>
                                <li><strong>Departure:</strong>&nbsp; {{ resident_data['LSC']['depQueue'] }}</li>
                            </ul>
                        </div>

                        <div class="wait-group">
                            <h3>For Visitors</h3>
                            <ul>
                                <li><strong>Arrival:</strong>&nbsp; {{ visitor_data['LSC']['arrQueue'] }}</li>
                                <li><strong>Departure:</strong>&nbsp; {{ visitor_data['LSC']['depQueue'] }}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="update-time">Last updated: {{ last_update }}</div>
                 </div> </div>
        </div>

        <footer id="footer">
            <div class="inner"> <ul class="copyright">
                    <li>&copy; 2025 Mingyang Liu @ Hong Kong Project</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                </ul>
            </div> </footer>

    </div>

    <script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/browser.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/breakpoints.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/util.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>

</body>
</html>