<!DOCTYPE HTML>
<html>
<head>
    <title>{{ title|default('Shenzhen Bay') }} - Hong Kong Control Point</title> <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/second-pages.css') }}" /> 
    <noscript><link rel="stylesheet" href="{{ url_for('static', filename='assets/css/noscript.css') }}" /></noscript>

</head>
<body class="is-preload">
    <div id="wrapper">

        <header id="header">
            <div class="inner">
                <a href="{{ url_for('home') }}" class="logo"> <span class="symbol">⬅</span><span class="title"> Back Home</span>
                </a>
                </div>
        </header>


        <div id="main">
            <div class="inner">
                
                <h1>Shenzhen Bay</h1>
                <span class="image main">
                    <img src="{{ url_for('static', filename='images/pic13.jpg') }}" alt="Shenzhen Bay" />
                </span>

                <div class="info-card">
                    <div class="details">
                        <p>
							<span class="icon">📍</span> 
							<strong>Location:</strong> 
							<span class="address-text">Shenzhen Bay Control Point, Ngau Hom Shek, Tuen Mun, New Territories</span>
						</p>
                        <p> 
                            <span class="icon">⏰</span> 
                            <span class="info-label"><strong>Open Hours:</strong></span>
                            <!-- <span class="info-content"> Passenger Clearance Building and private cars' passenger clearance services: 6:30 am to midnight<br>
                                Goods vehicle clearance services: 24 hours</span> -->
                            <span class="address-text">1. Passenger Clearance Building and private cars' passenger clearance services: 6:30 am to midnight<br>
                                2. Goods vehicle clearance services: 24 hours</span>
                            
                        </p>
                        <p>
							<span class="icon">📞</span> 
							<strong>Telephone:</strong>  
							<span class="address-text">3154 6567</span>
						</p>
                    </div>

                    <div class="waiting-times">
                        <h2>Waiting Time</h2>

                        <div class="wait-group">
                            <h3>For Residents</h3>
                            <ul>
                                <li><strong>Arrival:</strong>&nbsp; {{ resident_data['SBC']['arrQueue'] }}</li>
                                <li><strong>Departure:</strong>&nbsp; {{ resident_data['SBC']['depQueue'] }}</li>
                            </ul>
                        </div>

                        <div class="wait-group">
                            <h3>For Visitors</h3>
                            <ul>
                                <li><strong>Arrival:</strong>&nbsp; {{ visitor_data['SBC']['arrQueue'] }}</li>
                                <li><strong>Departure:</strong>&nbsp; {{ visitor_data['SBC']['depQueue'] }}</li>
                            </ul>
                        </div>
                    </div> 
                    <div class="update-time">Last updated: {{ last_update }}</div>
                </div> </div>
        </div>

        <footer id="footer">
            <div class="inner"> <ul class="copyright">
                    <li>&copy; 2025 Mingyang Liu @ Hong Kong Project</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                </ul>
            </div> </footer>

    </div>

    <script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/browser.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/breakpoints.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/util.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>

</body>
</html>